<template name="playlists">

  <div class="row">
    <div class='col-md-12'>
      showing ALL MY playlists.

        {{#each getMyPlayLists}}
            <h3>{{ name }}</h3>
            <p>{{ description }}</p>
        {{/each}}
      
        showing ALL Other playlists.

        {{#each getOtherPlayLists}}
            <h3>{{ name }}</h3>
            <p>{{ description }}</p>
        {{/each}}
    </div>

    <div class='col-md-12'>
      Search Soundcloud.

        {{> soundcloud }}
      
    </div>
  </div><!-- /.row -->
</template>
